@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

html {
  height: 100%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  background: #e5e6e7;
}

#header {
  box-sizing: border-box;
  font-size: 100%;
  width: 100vw;
  height: 5vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1005;
}

  #header .toolBtn {
    width: 3.5vh;
    height: 3.5vh;
    background-size: 3.2vh 3.2vh;
    border: 0.2vh solid #000000;
  }

#topPanel {
  box-sizing: border-box;
  font-size: 100%;
  width: 100vw;
  height: 6vh;
  top: 5vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1005;
}

#title {
  font-family: 'Passion One';
  font-size: 5vh;
  color: #ffdf2b;
  margin-left: 1vh;
}

.topContainer {
  margin-left: auto;
  display: flex;
  text-align: center;
}

  .topContainer a {
    margin-left: auto;
    display: flex;
    text-align: center;
  }

  .topContainer .droplist {
    margin-left: auto;
    display: flex;
    text-align: center;
  }

#openPanel {
  position: fixed;
  width: 8vh;
  height: 6vh;
  z-index: 1007;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leftContainer {
  line-height: 0;
  top: 11vh;
  height: 89vh;
  width: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  position: fixed;
  z-index: 1005;
  left: 0;
  background-color: #ffffff;
  transition: 0.5s;
  overflow: hidden;
}

.leftMenu {
  line-height: 0;
  font-size: 0;
  left: 8vh;
  width: 58vh;
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  z-index: 1005;
  background-color: #ffffff;
  overflow: hidden;
}

.toolBtn {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: 0.5vh;
  width: 5.8vh;
  height: 5.8vh;
  border-radius: 50%;
  border: none;
  background-size: contain;
  background-color: #ffffff;
  outline: none;
}

  .toolBtn:hover {
    background-color: #786b59;
  }

  .toolBtn.pressed,
  #help:hover,
  #help.pressed,
  #deleteImage:hover {
    border: solid 0.1vh #ff7f50;
  }

.layerBtn {
  width: 2.8vh;
  height: 2.8vh;
  padding: 0;
}

.optionTool {
  border-radius: 7%;
}

.mainCanvas {
  position: absolute;
  width: 780px;
  height: 400px;
  display: block;
}

#backCanvas {
  z-index: -1000;
  border: 1px solid #000000;
  background: repeat url("img/background.png");
}

  #backCanvas.highlight {
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
  }

#canvasesField {
  position: absolute;
  width: 782px;
  height: 402px;
  max-width: 1802px;
  max-height: 1002px;
  padding: 0;
  margin: auto;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  z-index: inherit;
}

#canvasResizer {
  right: -10px;
  bottom: -10px;
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border: 3px solid #bbbbbb;
  padding: 0;
  margin: 0;
  cursor: nwse-resize;
}

.layersFieldActive {
  position: fixed;
  box-sizing: border-box;
  top: 11vh;
  right: 0;
  width: 22vh;
  height: 89vh;
  background: #eeeeee;
  border-left: 0.2vh solid #cccccc;
  transition: 0.5s;
  transform: translateX(0%);
  z-index: 1000;
}

.layersFieldClosed {
  transform: translateX(100%);
}

#openLayersBtn {
  position: absolute;
  z-index: 1000;
  width: 8vh;
  height: 7vh;
  bottom: 2vh;
  left: -8vh;
  display: flex;
  align-items: center;
  background-color: #ffdf2b;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.layerScrollBox {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 89vh;
}

  .layerScrollBox::-webkit-scrollbar-track {
    background-color: #d4d4d4;
    padding: 2vh 0;
  }

  .layerScrollBox::-webkit-scrollbar {
    width: 1vh;
  }

  .layerScrollBox::-webkit-scrollbar-thumb {
    border-radius: 0.4vh;
    box-shadow: inset 0 0 0.4px rgba(0,0,0,.3);
    background: linear-gradient(#FFA600, #FFFC48);
  }

.layer {
  background: #fafafa;
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  height: 5vh;
  display: flex;
  align-items: center;
}

  .layer.highlight {
    border: solid 0.2vh #ff7f50;
  }

.addLayer {
  text-align: center;
}

.layerBtncontainer {
  position: absolute;
  right: 0.2vh;
  height: 5vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visibleLayer {
  background-image: url('img/tools/show_layer.svg');
  background-size: contain;
  background-color: #fafafa;
  overflow: hidden;
  border: none;
  outline: none;
}

.hiddenLayer {
  background-image: url("img/tools/hide_layer.svg");
}

.unlockedLayer {
  background-image: url("img/tools/unlock_layer.svg");
  background-size: contain;
  background-color: #fafafa;
  border: none;
  outline: none;
}

.lockedLayer {
  background-image: url("img/tools/lock_layer.svg");
}

.layerOptions {
  right: 10%;
  top: 2.8vh;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 8vw;
  box-shadow: 0 2vh 4vh 0 rgba(0,0,0,0.2);
  z-index: 1000;
}

.droplist:hover .layerOptions {
  display: flex;
  flex-direction: column;
}

.layerOptions button {
  width: 100%;
  height: 5vh;
  font-size: 2vh;
  padding: 0.1vh 0.2vh;
  border: none;
  border-bottom: 0.1vh solid #b6b6b6;
  outline: none;
}

  .layerOptions button:last-child {
    border-bottom: none;
  }

  .layerOptions button:hover {
    background-color: #b6b6b6;
  }

  .layerOptions button.inactive {
    color: #cccccc;
  }

.layerOptionsBtn {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background-color: #fafafa;
  padding: 0px;
}

.layerOptionsImg {
  content: url(img/tools/more_layer.svg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.previewWindow {
  width: 42%;
  height: 5vh;
  float: left;
  margin-left: 0.4vh;
  display: flex;
  align-items: center;
}

canvas.preview {
  background: repeat url("img/background.png");
  background-size: 10%;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  border: 0.2vh solid black;
}

#colorIndicatorDynamic {
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  top: 10%;
  left: 0;
}

#colorIndicatorStatic {
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  top: 20%;
  left: 0;
}

#help {
  border-radius: 50%;
  font-size: 3px;
  outline: none;
}

#helpMenu {
  position: fixed;
  right: 3%;
  top: 8%;
}

.dropMenu {
  position: fixed;
  right: 3%;
  top: 8%;
}

.leftPanelMenu {
  float: right;
}

.menu {
  text-align: center;
  position: absolute;
  font-family: 'Passion One';
  font-size: 2vh;
  color: #000000;
  background-color: #ffffff;
  border-top: 3vh solid #ffdf2b;
  top: 30vh;
  left: 30vw;
  width: 40vw;
  box-shadow: 0 1vh 2vh 0 rgba(0,0,0,0.2);
  padding: 1vh 1vh;
  z-index: 1005;
}

ul {
  list-style: none;
  padding: 0;
}

li:hover,
option:checked {
  background-color: #ffdf2b;
}

.droplist {
  position: relative;
  display: inline-block;
}

.droplist-content {
  right: 5%;
  display: none;
  position: absolute;
  padding: 5px;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1000;
}

.droplist:hover .droplist-content {
  display: block;
}

.canvasSettings {
  margin-left: auto;
  display: flex;
  text-align: center;
}

.field {
  padding: 0;
  clear: both;
  text-align: center;
  margin-top: 0;
}

  .field label {
    float: left;
    font-family: 'Passion One';
    font-size: 2vh;
    color: #000000;
  }


  .field input {
    font-family: 'Passion One';
    font-size: 2vh;
    color: #000000;
    width: 5vh;
    height: 3vh;
    border: 0.1vh solid #000000;
    padding: 0;
  }

.droplist-content p {
  margin: 0;
  padding: 0;
  color: #786b59;
  font-size: 14px;
}

.rangeAndText {
  width: 25vh;
  height: 3vh;
  display: flex;
  align-items: center;
  margin: 1vh;
}

  .rangeAndText input[type='text'] {
    padding: 0 2px 0 2px;
    margin: 0;
    height: 3vh;
    width: 6vh;
    background: #ffffff;
    border-radius: 2vh;
    border: none;
    font-family: 'Times New Roman';
    font-size: 2vh;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
  }

  .rangeAndText input[type='range'] {
    -webkit-appearance: none;
    width: 15vh;
    height: 1vh;
    border-radius: 2vh;
    background: #000000;
    background-size: cover;
    outline: none;
    margin-right: 1vh;
    -webkit-transition: .2s;
  }

    .rangeAndText input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1.5vh;
      height: 1.5vh;
      border-radius: 50%;
      background: #ffdf2b;
      cursor: pointer;
      box-shadow: 0 1vh 1vh rgba(0,0,0,0.5);
    }

    .rangeAndText input[type='range']::-moz-range-thumb {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #ffdf2b;
      cursor: pointer;
      box-shadow: 0 1vh 1vh rgba(0,0,0,0.5);
    }

#eyedropperWindow {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #000000;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

#textMenu {
  font-family: 'Passion One';
  line-height: 0;
  font-size: 2vh;
  height: 4vh;
  width: 90vh;
  margin: 0;
  background-color: white;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.5);
  border-radius: 0.1vh;
  padding: 1vh;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: hidden;
  z-index: 1006;
}

  #textMenu input {
    padding-left: 1vh;
    font-family: 'Passion One';
    font-size: 2vh;
    color: #000000;
    width: 11vh;
    height: 3vh;
    border: 0.1vh solid #000000;
    padding-left: 0.2vh;
    padding-top: 0;
    padding-right: 0.2vh;
    padding-bottom: 0;
    margin: 0;
  }

  #textMenu select {
    font-family: 'Passion One';
    font-size: 2vh;
    color: #000000;
    width: 20vh;
    height: 3vh;
    border: 0.1vh solid #000000;
    margin: 0;
    padding: 0;
  }

  #textMenu button {
    font-family: 'Passion One';
    font-size: 2vh;
    width: 8vh;
    height: 3vh;
    border: 0.1vh solid #000000;
    padding: 0;
    margin: 0;
  }

input::-webkit-color-swatch-wrapper {
  padding: 0;
  margin:0;
  background:none;
}
input::-webkit-color-swatch {
  border: none;
}

#pastedText {
  font-family: 'Passion One';
  font-size: 4vh;
  background-color: white;
  padding: 1vh;
  box-sizing: border-box;
  border: 0.2vh dashed #bbbbbb;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  z-index: 1000;
}

#canvasInsertion {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px dashed #bbbbbb;
  box-sizing: border-box;
}

#copyCanvasForInsertion {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#photoForInsertion {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.resizable {
  background: transparent;
  position: absolute;
}

  .resizable .resizers {
    width: 100%;
    height: 100%;
    border: 3px dashed #bbbbbb;
    box-sizing: border-box;
  }

    .resizable .resizers .resizer {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white;
      border: 3px solid #bbbbbb;
      position: absolute;
    }

      .resizable .resizers .resizer.top-left {
        left: -5px;
        top: -5px;
        cursor: nwse-resize;
      }

      .resizable .resizers .resizer.top-right {
        right: -5px;
        top: -5px;
        cursor: nesw-resize;
      }

      .resizable .resizers .resizer.bottom-left {
        left: -5px;
        bottom: -5px;
        cursor: nesw-resize;
      }

      .resizable .resizers .resizer.bottom-right {
        right: -5px;
        bottom: -5px;
        cursor: nwse-resize;
      }

    .resizable .resizers .rotator.middle {
      width: 25px;
      height: 25px;
      position: absolute;
      top: -1px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      background-color: #bbbbbb;
      background-size: cover;
      border-radius: 50%;
      border: none;
    }

.modalHints {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1010;
}

.hintsWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: 'Passion One';
  font-size: 3vh;
  transform: translate(-50%, -50%);
  border-top: 5vh solid #ffdf2b;
  background-color: white;
  width: 80vh;
  box-shadow: 0 1vh 3vh 0 rgba(0, 0, 0, 0.2);
  padding: 3vh 4vh;
}

.show-modalHints {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#closeHintsModal {
  float:right;
  outline: none;
  background-color: transparent;
  text-align: center;
  width: 12vh;
  height: 5vh;
  padding: 0.3vh;
  font-size: 2.5vh;
  font-family: 'Passion One';
  border: none;
  border-radius: 1vh;
  background-size: 200%;
  transition: 0.6s;
  background-image: linear-gradient(to left, #ffdf2b, #f37335, #ffdf2b);
  cursor: pointer;
}

#closeHintsModal:hover {
  background-position: right;
}

#imageMenu {
  position: relative;
  display: flex;
  align-items: center;
}

#deleteImage {
  height: 25px;
  width: 25px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-left: 20px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  background-color: white;
  width: 70vw;
  height: 75vh;
  padding: 0;
}

.modal-header {
  position: relative;
  width: 100%;
  height: 6%;
  background-color: #ffdf2b;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.leftSide {
  margin: 0;
  width: 35vw;
  height: 100%;
  display: inline-block;
}

.modalCanvasWrapper {
  width: 35vw;
  height: 45vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.modalCanvas {
  background: repeat url("img/background.png");
  display: inline-block;
  position: relative;
  border: 0.2vh solid black;
  height: 100%;
  width: 100%;
}

.rightSide {
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  width: 35vw;
  height: 100%;
  justify-content: space-around;
}

.colorFiltersBtns button {
  width: 10vh;
  height: 10vh;
  border: none;
  border-radius: 50%;
  outline: none;
}

.rightSide button:hover {
  border: solid 1px #ff7f50;
}

.centerFilterBtns {
  display: flex;
  justify-content: space-around;
}

.textFilterBtns button {
  width: 12vh;
  height: 4vh;
  font-size: 2.5vh;
  text-align: center;
  border: none;
  border-radius: 50%;
  outline: none;
}

.sliderFilterContainer {
  width: 500px;
}

.rangeAndDescription {
  display: inline-block;
  width: 30%;
}

.rangeAndDescription p {
  font-size: 3vh;
  text-align: center;
  color: #4A4A4A;
}

.rangeAndDescription input[type='range'] {
  -webkit-appearance: none;
  height: 1vh;
  width: 100%;
  border-radius: 1vh;
  background: #d3d3d3;
  background-size: cover;
  outline: none;
  margin-right: 1vh;
  -webkit-transition: .2s;
}

.rangeAndDescription input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background: #24a4ff;
  cursor: pointer;
  box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.5);
}

.rangeAndDescription input[type='range']::-moz-range-thumb {
  width: 4vh;
  height: 4vh;
  background: #24a4ff;
  cursor: pointer;
  box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.5);
}

.modalHeaderBtns {
  width: 4vh;
  height: 4vh;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5vh;
}

.modalHeaderBtns:first-child {
  margin-left: 1vh;
}

.deleteChanges {
  border-radius: 50%;
  background-color: white;
  background-image: url("img/filters/filters_restore.svg");
  background-size: cover;
}

.undoModalBtn {
  background-image: url("img/filters/filters_undo.svg");
}

.redoModalBtn {
  background-image: url("img/filters/filters_redo.svg");
}

.closeWithoutSavingBtn {
  background-image: url("img/filters/filters_close.svg");
}

.closeWithSavingBtn {
  background-image: url("img/filters/filters_ready.svg");
}

.closeBtnsContainer {
  position: absolute;
  right: 0.4vh;
  width: 10vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  width: 4vh;
  height: 4vh;
  cursor: pointer;
}

.spaceWrapper {
  white-space: nowrap;
  height: 94%;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#changeBorderWidth {
  background: #ffffff;
}

.markingMenu {
  margin-top: 5px;
}

.markingMenu button {
  border: none;
  border-radius: 50%;
  outline: none;
}

.markingMenu p {
  margin: 2px;
}

.markingBtnsContainer {
  width: 100%;
  display: flex;
  justify-content: start;
}

.markingRange {
  display: inline-block;
  width: 60%;
}

.markingRange input[type='range'] {
  width: 50%;
}

.markingRange input[type='text'] {
  padding: 0px 2px 0px 2px;
  margin: 0px;
  height: 20px;
  width: 30%;
  background: lightgray;
  border-radius: 5px;
  border: none;
  font-family: 'Times New Roman';
  font-size: 17px;
  text-align: center;
  -webkit-appearance: none;
  outline:none;
}
